body {
  background: #f3f4f6;
  font-family: Arial, sans-serif;
}

.container {
  width: 350px;
  background: white;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.number-input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.pin-boxes {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.pin-boxes input {
  width: 55px;
  height: 55px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #ccc;
  font-size: 18px;
}

.forgot {
  margin-top: 15px;
}
